In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# set data frames
whale_data = Path("whale_returns.csv")
algo_data = Path("algo_returns.csv")
otex_data = Path("otex_historical.csv")
sp_tsx_data = Path("sp_tsx_history.csv")
shop_data = Path("shop_historical.csv")
i_hist_data = Path("l_historical.csv")

# Read the CSVs and set the `date` column as a datetime index to the DataFrame
whale_data = pd.read_csv(whale_data, index_col="Date", infer_datetime_format=True, parse_dates=True)
algo_data = pd.read_csv(algo_data, index_col="Date", infer_datetime_format=True, parse_dates=True)
otex_data = pd.read_csv(otex_data, index_col="Date", infer_datetime_format=True, parse_dates=True)
sp_tsx_data = pd.read_csv(sp_tsx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)
shop_data = pd.read_csv(shop_data, index_col="Date", infer_datetime_format=True, parse_dates=True)
i_hist_data = pd.read_csv(i_hist_data, index_col="Date", infer_datetime_format=True, parse_dates=True)


# Display a few rows from one DataFrame
whale_data.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098